.dynamicForm-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
  min-height: 20rem;
  max-height: 35rem;
  height: auto;
  position: relative;
  & header {
    font-family: New Order;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333B3E;
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
    max-height: 25rem;
    overflow-y: auto;
    &-group {
      display: flex;
      flex-direction: column;
      & label {
        font-family: New Order;
        font-size: 1rem;
        font-weight: 500;
        color: #333B3E;
        margin-left: 0.5rem;
      }
      &-input {
        position: relative;
        & input {
          width: 92.5%;
          height: 1rem;
          padding: 1rem;
          border-radius: 0.625rem;

          font-family: New Order;
          font-size: 1rem;
          font-weight: 500;
          color: #333B3E;
          
          &.invalid {
            border: 1px solid red !important;
          }
          &.valid {
            border: 2px solid #DFE4EC;
          }
        }
        & button {
          position: absolute;
          right: 1rem;
          bottom: 0.5rem;
          background-color: transparent;
          cursor: pointer;
          & img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
      &-error-message {
        color: red;
        font-family:  New Order;
        font-size: 0.8rem;
        margin-top: 4px;
      }
    }
    &-buttons {
      display: flex;
      gap: 1rem;
      position: absolute;
      bottom: 0rem;
      right: 0rem;
      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8rem;
        height: 2.5rem;
        padding: 1rem;
        border-radius: 0.625rem;
        cursor: pointer;
        & span {
          font-family: New Order;
          font-size: 1rem;
          font-weight: 500;
          color: #FAFAFA;
        }
        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

