.login-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/Images/control_panel.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        min-width: 35rem;
        height: 100%;
    }
}