.recovery-password-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    min-width: 30rem;
    & header {
        font-family: New Order;
        font-size: 2rem;
        font-weight: 500;
        color: #FAFAFA;
    }
    & p {
        font-family: New Order;
        font-size: 1rem;
        font-weight: 500;
        color: #FAFAFA;
    }
    &-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        & label {
            font-family: New Order;
            font-size: 1rem;
            font-weight: 500;
            color: #FAFAFA;
            margin-left: 0.5rem;
        }
        & input {
            width: 93.5%;
            height: 1rem;
            padding: 1rem;
            border-radius: 0.625rem;
            font-family: New Order;
            font-size: 1rem;
            font-weight: 500;
            color: #333B3E;
            &.invalid {
                border: 1px solid red !important;
            }
            &.valid {
                border: 2px solid #DFE4EC;
            }
        }
        & span {
            margin-top: 0.3rem;
            font-family: New Order;
            font-size: 0.8rem;
            font-weight: 600;
            color: red;
            margin-left: 0.5rem;
        }
    }
    & footer {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
        & button {
            width: 100%;
            min-width: 15rem;
            height: 2.5rem;
            background-color: #00CED1;
            border-radius: 1rem;
            cursor: pointer;
            & span {
                font-family: New Order;
                font-size: 1rem;
                font-weight: 600;
                color: #FAFAFA;
            }
            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}