.custom-select {
    position: relative;
    height: 3.5rem;
    border: 2px solid #DFE4EC;
    border-radius: 0.625rem;
    background-color: white;
    cursor: pointer;
    font-family: 'New Order', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #333B3E;
    padding-left: 0.7rem;
    user-select: none;
}

.selected-value {
    display: flex;
    align-items: center;
    height: 100%;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 2px solid #DFE4EC;
    border-radius: 0.625rem;
    z-index: 10000;
}

.option {
    padding: 0.5rem 0.7rem;
    cursor: pointer;
}

.option.disabled {
    color: #B0B0B0;
    pointer-events: none;
}

.option:hover:not(.disabled) {
    background-color: #F0F0F0;
}
